{{> head}}

  {{> navbar}}

<div class="container">
<div class="row">
    <h1>Leon</h1>
    <p>Cras justo neque, condimentum eu efficitur sed, sodales non eros. Phasellus ultricies quam vestibulum luctus lobortis. Nulla sit amet cursus mauris. Integer eget ultrices quam. Praesent in odio finibus, venenatis ligula at, feugiat neque. Nullam varius ex diam, vitae blandit ante finibus non. Phasellus elementum finibus lectus eget accumsan. Sed laoreet vulputate ligula, nec dignissim dolor lobortis vitae. Maecenas porttitor, erat ut dictum vestibulum, enim ligula venenatis diam, vehicula porta leo quam et lacus. Praesent id felis vitae dui sagittis pellentesque vel nec quam.
    </p>
</div>

<div class="col-4">
    <img src="assets/img/aaa.png" class="img-thumbnail">
</div>
</div>

{{> footer}}